@page
@model BookManagement.Pages.Patrons.IndexModel

@{
    ViewData["Title"] = "Patron Management Console";
}

<h2>Registered Patrons</h2>

<p>
    <a asp-page="Create">Create New Patron</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].ExpirationDays)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron[0].Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patron) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDays)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
