@page
@model BookManagement.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Reservation Management Console";
}

<h2>Reservation List</h2>

<p>
    <a asp-page="Create">Create New Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ActualReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Patron)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].DelayDays)
            </th><th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patron.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DelayDays)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
